{% extends 'base.html' %}
{% block title %}
Alfabeta
{% endblock %}
{% block content %}
<h1>Alfabeta</h1>
<p>Hláskové písmo převzali Řekové od Féničanů asi v 9. století před n. l. Upravili si znaky, které použili pro zápis
    samohlásek, neboť semitský jazyk samohlásky nezapisoval. Alfabeta je prvním písemným systémem, který zapisuje
    samohlásky, a také zdrojem dalších písem v Evropě a v širším okolí. Od nápisů na keramice a kameni k papyrům a
    kodexům.
    Písmo používala už nejstarší řecká civilizace, tedy mykénská alias achájská, a to od 15. století před n. l. Bylo to
    však písmo slabičné, viz článek Lineární písmo B, které mizí s koncem této kultury. Koncem období „temných staletí“
    se nejspíš v 9. století před n. l. (plus minus století) v Řecku objevuje alfabeta, která zde s řadou úprav (se
    zjednodušenou diakritikou) přetrvává dodnes. Fyzické doklady nápisů máme na keramice od poloviny 8. století před n.
    l. Alfabeta nenavazuje na starší slabičné písmo, nýbrž je převzata od Féničanů (Foníčanů). Ti jsou skutečnými
    vynálezci hláskového písma (snad už v chatrně doloženém protosinajském písmu z 18. až 15. století před n. l.,
    jazykově prý předchůdcem féničtiny a kanaánských jazyků).

    Řekové přišli s další novinkou, totiž se zápisem samohlásek. Souvisí to s odlišnými vlastnostmi jazyka, ale také s
    jinou představou o roli písma. Jde o zápis zvukové stránky řeči.

</p>
{% endblock %}


