{% extends 'base.html' %}
{% block title %}
Písmo
{% endblock %}
{% block content %}
<h1>Úvod do písem</h1>
<p>Písmo se používá na vizuální zápis jazyka standardizovanými symboly. Nejstarší typy písma jsou piktogramy nebo
    ideogramy. Většina písem může být rozdělena do 3 kategorií: logografické (slovní), sylabické (slabičné) a
    alfabetické (abecední). Obecné slovo pro symboly v písmu je grafém (znak). Písmeno (též Glyf) je grafická
    reprezentace znaku. Glyfy většiny písem tvoří linie (čáry) a proto se nazývají lineární (čárové), ale existují i
    glyfy nelineárních písem tvořené jinými typy značek.</p>
<h2>Historie</h2>
<p>Písmu předchází paleolitické záznamy počtu (například vlčí radius) či snad i symbolů[1] pomocí zářezů. Jeskynní
    malířství patrně obsahuje vyobrazení počtů měsíců (čárkami či tečkami) a protopísmo.[2]

    Nejstarší znaky, které by mohly být písmem (nebo také jen protopísmem), jsou symboly na želvích krunýřích nalezených
    v Džia-chu (Jiahu) v provincii Che-nan v Číně a jsou datované do 7. tisíciletí před naším letopočtem.[3] Podle
    některých znalců je možné je spojovat s pozdějšími nejstaršími čínskými hieroglyfy na věšteckých kostkách
    Džia-ku-wen (Jiaguwen) z 2. tisíciletí př. n. l. a čínské písmo by tak bylo vůbec nejstarší písmo na světě, bez
    dosavadní výhrady nejstaršího dosud užívaného písma. Symboly však nevykazují zápis písma. Ovšem mladší neolitické
    znaky, které jsou pravděpodobněji písmem, byly v Číně nalezeny na více místech (Dadiwan, Damaidi, Banpo). Byť jde
    často o osamocené znaky.[4]

    V současnosti je za nejstarší známé písmo či protopísmo euroasijskoafrické oblasti považováno dunajské písmo kultury
    Vinča (vinčanské znaky) nalezené v Rumunsku, datované do 6. tisíciletí př. n. l. Bylo rozeznáno již asi 230
    znaků.[5] Podle některých odborníků jsou podobné (tvarem i zářezy) znakům Urucké kultury v Mezopotámii.[6] Také zde
    jsou v blízkosti mladší nálezy údajného písma (například Dispilio v Řecku či Градешница v Bulharsku).</p>
{% endblock %}


